body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f7f8fc, #e0e7ff);
    color: palevioletred; 
}

header {
    text-align: center;
    padding: 2rem 1rem 2rem; 
    background-color: #cbeef3;
    border-bottom: pink solid thin;
}

header h1 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem; 
}

header p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 0; 
}
.icons a{
    color: inherit;
}

.icons a:hover {
    color: #782a46;
}
main{
    padding: 20px;
}
.featured-playlist {
    width: 45%;
}
.featured{
    display: flex;
    justify-content: center;
}
.featured-home{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playlist:hover {
    transform: translateY(-4px);
    border-color: #a3bffa; 
}

.featured-playlist img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.playlist-info {
    width: 100%;
    text-align: center;
}
.playlist-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0;
}
.featured-songs{
    flex-grow: 1;
    margin-left: 30px;
}
.featured-song {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #80c8da 0%, #80c8da 100%);
    border-radius: 5px;
}
.featured-song img{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.featured-song-info {
    text-align: center;
    padding: 20% left;
    flex: 1;
}
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #f3f4f6;
    color: #555;
    font-size: 1rem;
}
