body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f7f8fc, #e0e7ff);
    color: #333;
}
header {
    text-align: center;
    padding: 2rem 1rem 1rem;
}

header h1{
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    color: #666;
}

.playlist-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.playlist{
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-style: solid;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    justify-content: space-between;
}

.playlist h3 {
    padding: 0.5rem 0rem 0.25rem;
    font-size: 1.1rem;
}

.playlist img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.playlist .singer {
    padding: 0 1rem 1rem;
    font-size: 0.9rem;
    color: #777;
}


.likes {
    display:flex;
    align-items: center;
    gap: 0.5rem;
}

.like-btn {
    border: none;
    background: none;
    font-size: 1.2rem;
    color: crimson;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #f3f4f6;
    color: #555;
    font-size: 1rem;
}